<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Video Stream</title>
    <link rel="stylesheet" href="./stylesheets/main.css">
</head>
<body>
    <video id="videoPlayer" controls autoplay muted>
        <source src="http://localhost:8080/video" type="video/mp4">
    </video>
</body>
</html>